<div *ngIf="grades">
  <h2> Toate Notele </h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nume Student</th>
      <th scope="col">Materie</th>
      <th scope="col">Nota</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let grade of grades; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ grade.studentName }}</td>
      <td>{{ grade.examName  }}</td>
      <td>{{ grade.value  }}</td>
      <td>
        <a routerLink="/exams/{{grade.id}}">
          <button class="btn btn-primary btn-sm">Schimba nota</button>
        </a>
      </td>
      <td>
        <a routerLink="/exams/{{grade.id}}">
          <button class="btn btn-success btn-sm">Confirma</button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
