<div *ngIf="exams">
  <h2> Toate Examenele </h2>
  
<a routerLink='/exams/create'><button class="btn btn-primary btn-sm">Adauga examen</button></a>
  <button type="button" class="btn btn-info btn-sm" (click)="getExamsByUserId()">Examenele mele</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nume</th>
        <th scope="col">Data</th>
        <th scope="col">Sala</th>
        <th scope="col">Tip examen</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exam of exams; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ exam.courseName }}</td>
        <td>{{ exam.date }}</td>
        <td>{{ exam.room }}</td>
        <td>{{ exam.type }}</td>
        <a routerLink="/exams/{{exam.id}}">
          <td><button class="btn btn-primary btn-sm">Details</button></td>
        </a>
        <td><button class="btn btn-primary btn-sm" (click)="delete(exam)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!exams">Nu exista nici un examen</div>