<div *ngIf="course">
  <h2> {{course.title}}</h2>

  <!--<a class="nav-link text-dark" routerLink="/courses/{{course.id}}/grades">-->
  <!--<button class="btn btn-primary btn-sm">Vezi note</button>-->
  <!--</a>-->

  <div *ngIf="isEditable == false">
    <h6>Titlu</h6> {{course.title}}
    <hr>
    <h6>An</h6> {{course.studentYear}}
    <hr>
    <h6>Semestru</h6> {{course.semester}}
    <hr>
    <h6>Descriere</h6> {{course.description}}
    <hr>
    <h6>URL</h6> {{course.url}}
    <hr>
    <h6>Profesori</h6>
    <p *ngFor="let professor of course.professors">
      {{professor.name}}
    </p>
    <hr>
  </div>
  <div *ngIf="isEditable == true">
    <form>
      <div class="form-group">
        <label for="title">Titlu</label>
        <input type="text" class="form-control" id="title"
               [(ngModel)]="course.title" name="title">
      </div>
      <div class="form-group">
        <label for="studentYear">An</label>
        <input type="text" class="form-control" id="studentYear"
               [(ngModel)]="course.studentYear" name="studentYear">
      </div>
      <div class="form-group">
        <label for="semester">Semestru</label>
        <input type="text" class="form-control" id="semester"
               [(ngModel)]="course.semester" name="semester">
      </div>
      <div class="form-group">
        <label for="description">Descriere</label>
        <input [(ngModel)]="course.description" class="form-control" id="description"
               name="description" type="text">
      </div>
      <div class="form-group">
        <label for="url">URL</label>
        <input [(ngModel)]="course.url" class="form-control" id="url"
               name="url" type="text">
      </div>
      <div class="form-group">
        <label for="professors">Profesori</label>
        <input *ngFor="let professor of course.professors" [(ngModel)]="professor.name" class="form-control"
               id="professors"
               name="professors" type="text">
      </div>
    </form>
  </div>

  <div *ngIf="isEditable == false && isMyCourse">
    <button class="btn btn-primary btn-sm" (click)="edit()"> Editeaza</button>
  </div>
  <div *ngIf="isEditable == true && isMyCourse">
    <button class="btn btn-success" type="submit" (click)="saveChanges()"> Save changes</button>
  </div>
</div>
