@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

html {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

.container{
  background-color: white;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 4%;
  height: 100vh;
  overflow: auto;
}


