@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.container{
  background-color: white;
  box-shadow: 3px 3px 5px 6px #ccc;
  height: 875px;
}

body{
  background-image: url("../assets/bg.jpg");
  height: 950px;
}


