.search-result li{
  border: 1px solid black;
  padding: 0.5%;
  display: block;
  list-style-type: none;
  width: 181px;
  height: 30px;
  margin-top: 3px;
}

.search-result li:hover {
  background-color: lightgray;
}

.search-result {
  margin-top: 10px;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}
