.search-result li{
  border: 1px solid green;
  padding: 0.5%;
  display: block;
  list-style-type: none;
  width: 195px;
  height: 30px;
}

.search-result li:hover {
  background-color: #607D8B;
}

.search-result {
  margin-top: 10px;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}
