<h2> Toate Examenele </h2>
<button type="button" class="btn btn-primary" (click)="addExam()">Adauga examen</button>
<button type="button" class="btn btn-info" (click)="getExamsByUserId()">Examenele mele</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nume</th>
      <th scope="col">Data</th>
      <th scope="col">Sala</th>
      <th scope="col">Tip examen</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let exam of exams; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ exam.courseName }}</td>
      <td>{{ exam.date }}</td>
      <td>{{ exam.room }}</td>
      <td>{{ exam.type }}</td>
      <a routerLink = "/exams/{{exam.id}}"><td><button class="btn btn-primary btn-sm">Details</button></td></a>
    </tr>
  </tbody>
</table>