<div *ngIf="exam">
  <h2> {{exam.course.title}}</h2>

  <a *ngIf="!isEditable" class="nav-link text-dark" routerLink="/exams/{{exam.id}}/grades">
    <button class="btn btn-sm btn-primary" id="">Vezi note</button>
  </a>


  <div *ngIf="isEditable == false">
    <h6>Data</h6> {{formatDate(exam.date)}}
    <hr>
    <h6>Ora</h6> {{formatTime(exam.date)}}
    <hr>
    <h6>Sala</h6> {{exam.room}}
    <hr>
    <h6>Tip</h6> {{exam.type}}
    <hr>
    <div *ngIf="professor">
      <h6>Barem</h6> {{imageName}}
      <hr>
      <h6>Cod QR</h6>
      <ngx-qrcode [qrc-value]="url" qrc-element-type="url"></ngx-qrcode>
      <hr>
    </div>
  </div>
  <div *ngIf="isEditable == true">

    <form>
      <div class="form-group">
        <label for="title">Nume</label>
        <input type="text" class="form-control" id="title"
               [(ngModel)]="exam.course.title" name="title">
      </div>
      <div class="form-group">
        <label for="date">Data</label>
        <input type="text" class="form-control" id="date"
               [(ngModel)]="exam.date" name="date">
      </div>
      <div class="form-group">
        <label for="type">Tip</label>
        <input type="text" class="form-control" id="type"
               [(ngModel)]="exam.type" name="type">
      </div>
      <div class="form-group">
        <label for="room">Sala</label>
        <input type="text" class="form-control" id="room"
               [(ngModel)]="exam.room" name="room">
      </div>
      <div class="form-group">
        <label for="scale">Barem</label>
        <input [(ngModel)]="imageName" name="name" disabled>
        <input type="file" (change)="uploadFile($event)" id="scale" name="scale" placeholder="Upload file"
               accept=".png">
      </div>
      <div class="form-group">
        <label for="qr">Cod QR</label>
        <ngx-qrcode id="qr" qrc-element-type="url" [qrc-value]="url"></ngx-qrcode>
      </div>
    </form>
  </div>

  <div *ngIf="isEditable == false && isMyExam">
    <button class="btn btn-primary btn-sm" (click)="edit()"> Editeaza</button>
  </div>
  <div *ngIf="isEditable == true">
    <button class="btn btn-success btn-sm" type="submit" (click)="saveChanges()"> Save changes</button>
  </div>
</div>
