<div *ngIf="exam">
  <h2> {{exam.course.title}}</h2>

  <a class="nav-link text-dark" routerLink="/exams/{{exam.id}}/grades">
    <button class="btn btn-primary btn-sm">Vezi note</button>
  </a>

  <div *ngIf="isEditable == false">
    <h6>Data</h6> {{exam.date}}
    <hr>
    <h6>Sala</h6> {{exam.room}}
    <hr>
    <h6>Tip</h6> {{exam.type}}
    <hr>
  </div>
  <div *ngIf="isEditable == true">
    <div class="container">
      <form>
        <div class="form-group">
          <label for="title">Nume</label>
          <input type="text" class="form-control" id="title"
                 [(ngModel)]="exam.course.title" name="title">
        </div>
        <div class="form-group">
          <label for="date">Data</label>
          <input type="text" class="form-control" id="date"
                 [(ngModel)]="exam.date" name="date">
        </div>
        <div class="form-group">
          <label for="type">Tip</label>
          <input type="text" class="form-control" id="type"
                 [(ngModel)]="exam.type" name="type">
        </div>
        <div class="form-group">
          <label for="room">Sala</label>
          <input type="text" class="form-control" id="room"
                 [(ngModel)]="exam.room" name="room">
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="isEditable == false">
    <button (click)="edit()"> Edit</button>
  </div>
  <div *ngIf="isEditable == true">
    <button class="btn btn-success" type="submit" (click)="saveChanges()"> Save changes</button>
  </div>
</div>
