<div *ngIf="exams">
  <h2> Toate Examenele </h2>

  <button *ngIf="role" type="button" class="btn btn-primary btn-sm" (click)="getExamsByUserId()">Examenele mele</button>
  <a *ngIf="!professor && role" routerLink='/exams/grades'>
    <button class="btn btn-secondary btn-sm" type="button">Notele mele</button>
  </a>
  <a *ngIf="professor" routerLink='/exams/create'>
    <button class="btn btn-secondary btn-sm">Adauga examen</button>
  </a>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nume</th>
      <th scope="col">Data</th>
      <th scope="col">Ora</th>
      <th scope="col">Sala</th>
      <th scope="col">Tip examen</th>
      <th *ngIf="!professor && role && areMyExams && !hide" scope="col"></th>
      <th *ngIf="professor" scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let exam of exams; index as i">
      <td scope="row">{{ i + 1 }}</td>
      <td>{{ exam.course.title }}</td>
      <td>{{ formatDate(exam.date)}}</td>
      <td>{{ formatTime(exam.date)}}</td>
      <td>{{ exam.room }}</td>
      <td>{{ exam.type }}</td>
      <td *ngIf="professor">
        <a routerLink="/exams/{{exam.id}}">
          <button class="btn btn-info btn-sm">Details</button>
        </a>
      </td>
      <td *ngIf="!professor && role && areMyExams && isTime(exam)">
        <a routerLink="/exams/{{exam.id}}/scan">
          <button class="btn btn-info btn-sm" [disabled]="isChecked(exam)">Scaneaza cod QR</button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!exams">Nu exista nici un examen</div>
