<div *ngIf="courses">
  <div class="container">

    <h2> Toate Cursurile </h2>

    <button (click)="getCoursesByUserId()" *ngIf="role" class="btn btn-primary btn-sm" type="button">Cursurile mele
    </button>
    <!--<a *ngIf="professor" routerLink='/courses/create'>-->
    <!--<button type="button" class="btn btn-secondary btn-sm">Adauga curs</button>-->
    <!--</a>-->

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titlu</th>
        <th scope="col">Profesor</th>
        <th scope="col">An</th>
        <th scope="col">Semestru</th>
        <th *ngIf="professor" scope="col"></th>
        <th *ngIf="!professor" scope="col"></th>
        <th *ngIf="!professor" scope="col"></th>
        <th *ngIf="professor" scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let course of courses; index as i">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{ course.title }}</td>
        <td>
          <p *ngFor="let prof of course.professors">{{ prof.name }}
          </p>
        </td>
        <td>{{ course.studentYear }}</td>
        <td>{{ course.semester }}</td>
        <td>
          <a routerLink="/courses/{{course.id}}">
            <button class="btn btn-info btn-sm">Detalii</button>
          </a>
        </td>
        <td>
          <p *ngFor="let prof of course.professors">
            <button (click)="deleteCourse(course)" *ngIf="professor && professor.id == prof.id"
                    class="btn btn-danger btn-sm btn-circle" id="delete-button">
              x
            </button>
          </p>
        </td>
        <!--<td *ngIf="!(professor && professor.id == course.professor[i].id)">-->
        <!--<button hidden></button>-->
        <!--</td>-->
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div *ngIf="!courses">
  <p>Nu există cursuri.</p>
</div>
